<div class="d-flex flex-column w-100 p-2">
    <form [formGroup]="dateForm">
        <div class="d-flex align-items-center">
            @switch (dateOptions.value) {
                @case ('Single') {
                    <ndp-date-input formControlName="newDate" />
                }
                @case ('Range') {             
                    <ndp-date-range-input  formControlName="newDate" />
                }
                @case ('Group') {
                    <ndp-date-input formControlName="newDate" />                    
                }
                @default {
                    <ndp-date-input formControlName="newDate" />
                }
            }
            <button class="btn btn-primary d-flex align-items-center justify-content-center mx-2 mb-2 mt-1"
                (dblclick)="null" (click)="addNewDate()">
                Add
            </button>
        </div>
        <ndp-radio-button #dateOptions [radioOptions]="radioOptions"/>
    </form>
    
    <form [formGroup]="dateListForm">
        <div class="d-flex px-3 align-content-stretch flex-wrap overflow-y-auto">
            @for (item of data(); track $index) {
                <ndp-date-options #comp label="{{item.name}}"  color="{{item.color}}" (modifyClick)="updateItem(item.name, $event)" (deleteClick)="deleteDate(item.name)">
                @if (isDateSingleItem(item)) {
                    <ndp-date-input formControlName="{{item.name}}" [label]="item.name">
                        <div [style]="`background-color: ${comp.color}; height: 14px; width: 14px; border: 1px solid #495057`"></div>
                    </ndp-date-input>
                }
                @else if (isDateGroupItem(item)) { 
                    <ndp-date-group formControlName="{{item.name}}" [label]="item.name">
                        <div [style]="`background-color: ${comp.color}; height: 14px; width: 14px; border: 1px solid #495057`"></div>
                    </ndp-date-group>
                }
                @else if (isDateRangeItem(item)) {
                    <ndp-date-range-input formControlName="{{item.name}}" [label]="item.name">
                        <div [style]="`background-color: ${comp.color}; height: 14px; width: 14px; border: 1px solid #495057`"></div>
                    </ndp-date-range-input>
                }
                </ndp-date-options>
            }
        </div>
    </form>
</div> 