<div class="d-flex flex-column w-100 p-2">
    <form [formGroup]="dateForm">
        <div class="d-flex p-3 align-items-center">
            <ndp-date-input formControlName="newDate" />
            <button class="btn btn-primary d-flex align-items-center justify-content-center mx-2 mb-2 mt-1"
                (dblclick)="null" (click)="addNewDate()">
                Add
            </button>
        </div>
    </form>
    <form [formGroup]="dateListForm">
        <div class="d-flex px-3 align-content-stretch flex-wrap overflow-y-auto">
            @for (item of data(); track $index) {
                <ndp-date-options #comp label="{{item.name}}"  color="{{item.color}}" (modifyClick)="updateItem(item.name, $event)" (deleteClick)="deleteDate(item.name)">
                    <ndp-date-input formControlName="{{item.name}}" [label]="item.name">
                        <div [style]="`background-color: ${comp.color}; height: 14px; width: 14px; border: 1px solid #495057`"></div>
                    </ndp-date-input>
                </ndp-date-options>
            }
        </div>
    </form>
</div> 