<div class="d-flex align-items-center justify-content-start">
    <div class="btn d-flex align-items-center justify-content-center mx-2 mb-1 mt-1 p-1 {{isRangeDate()?'rounded-pill':'rounded-circle'}}"
        [style.backgroundColor]="color()">
        @if(isRangeDate()) {
            <div [style.height]="'24px'" [style.color]="getContrastingTextColor(color())">
                {{start().getDate()}} - {{end().getDate()}}
            </div>    
        }
        @else if(isDateGroup()) {
            <div [style.height]="'24px'"[style.width]="'24px'" [style.color]="getContrastingTextColor(color())">
                &nbsp;
            </div>
        }
        @else {
            <div [style.width]="'24px'" [style.height]="'24px'" [style.color]="getContrastingTextColor(color())">
                {{date().getDate()}}
            </div>
        }
    </div>
    <div>
        {{label()}}
    </div>
</div>