<div>
    <div class="d-flex px-3 " #trigger>
        <ng-content></ng-content>
        <div class="align-self-end">
            <button class="btn btn-secondary dalign-items-center justify-content-center mx-2 mb-2 mt-1"
                (dblclick)="null" (click)="!isMenuOpen?openMenu(trigger):closeMenu()">
                <img src="three-dots.svg" alt="buscar" style="width: 20px;" />
            </button>
        </div>
    </div>
    <ng-template #menuTemplate>
        <ndp-card class=" px-2">
            <div class="d-flex">
                <div class="input-group me-2 mb-2 mt-1">
                    <span class="input-group-text">label</span>
                    <input #name type="text" class="form-control" [(value)]="label">
                </div>
            </div>

            <div class="d-flex">
                <div class="input-group me-2 mb-2 mt-1">
                    <span class="input-group-text" id="basic-addon1">
                        <img src="color.svg" alt="color" style="width: 20px;" />
                    </span>
                    <div class="form-control p-0 d-flex align-items-center justify-content-center flex-grow-0 w-auto">
                        <input #color type="color" class="p-0 mx-1">
                    </div>
                </div>

                <button class="btn btn-warning d-flex align-items-center justify-content-center mx-2 mb-2 mt-1"
                    (dblclick)="null" (click)="modifyClick.emit({value: name.value, color: color.value})">
                    <img src="modify.svg" alt="mod" style="width: 20px;" />
                </button>

                <button class="btn btn-danger d-flex align-items-center justify-content-center mx-2 mb-2 mt-1"
                    (dblclick)="null" (click)="deleteClick.emit()">
                    <img src="delete.svg" alt="del" style="width: 20px;" />
                </button>
                <button class="btn btn-secondary d-flex align-items-center justify-content-center mx-2 mb-2 mt-1"
                    (dblclick)="null" (click)="closeMenu()">
                    <img src="close.svg" alt="buscar" style="width: 20px;" />
                </button>
            </div>
        </ndp-card>
    </ng-template>
</div>